body{
    
    background-color:greenyellow;
    color: red;
    font-family:arial,Helvetica,sans-serif;
    font-size: 16px;
    
 
}
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}    
#main-header{
    background-color: coral;
    color: antiquewhite;
}
#navbar{
    background-color: darkblue;
    color: antiquewhite;
    border: 10px gold solid;
    
}
#navbar h1{
    color: gold;
    font-size: 30px;
}
#navbar ul{
    padding: 0;
   list-style: inside;
    object-position: center;
    }
#navbar li{
display: inline-table;
text-decoration: underline;
animation: 
}
#navbar a{
    
    color: beige;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
   
}
#form{
    color: black;
    font: oblique;
}
a:active{
    color: green;
}
a:hover{
    color: red;
}
a:visited{
    color: blue;
}
#showcase{
    background-image: url("showcase2.jpg");
    min-height:  height: 300px;
    margin-bottom: 30px;
    text-align:center; 
} 
#showcase h2{
    color:black;
    line-height: 1cm;
    padding-top: 30px;
    border: 10px green solid;
    font-style: oblique;
     font-stretch: expanded;
}
#main{
    float: right;
    width: 30%;
    background:green;
    color: antiquewhite;
    padding: 10px;
   box-sizing: inherit;
    border: dotted;
    
}
#sidebar{
    float: right;
    width: 30%;
    background:brown;
    color: antiquewhite;
    padding: 10px;
    box-sizing: border-box;
    border-bottom-style:dotted;}
#image {
        border-color: aqua;
}

#main-footer p{
    background: black;
    color: azure;
    text-align: center;
    padding: 40px;
    margin-top: 40px;
}



@media(max-width:600px){
    #main{
        width: 100%;
        float: none;
       
    }
   
}









