body{
    
    background-color:greenyellow;
    color: red;
    font-family:arial,Helvetica,sans-serif;
    font-size: 16px;
    
 
}
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}    
#main-header{
    background-color: coral;
    color: antiquewhite;
}
#navbar{
    background-color: darkblue;
    color: antiquewhite;
    border: 10px red solid;
    
}
#navbar h1{
    color: gold;
    font-size: 30px;
}
#navbar ul{
    padding: 0;
   list-style: inside;
    object-position: center;
    }
#navbar li{
display: inline-table;
text-decoration: underline;
animation: 
}
#navbar a{
    
    color: beige;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
   
}
#form{
    color: black;
    font: oblique;
}
a:active{
    color: green;
}
a:hover{
    color: red;
}
a:visited{
    color: blue;
}
#showcase{
    background-image: url("showcase2.jpg");
    min-height:  height: 300px;
    margin-bottom: 30px;
    text-align:center; 
} 
#showcase h2{
    color:black;
    line-height: 1cm;
    padding-top: 30px;
    border: 10px green solid;
    font-style: oblique;
     font-stretch: expanded;
}
#main{
    float: right;
    width: 30%;
    background:green;
    color: antiquewhite;
    padding: 10px;
   box-sizing: inherit;
    border: dotted;
    
}


#sidebar p3{
    float: right;
    width: 30%;
    background:brown;
    color: antiquewhite;
    padding: 10px;
    box-sizing: border-box;
    border-bottom-style:dotted;


}


#main-footer p4{ 
    background: black;
    color: azure;
    padding: 2;
    margin-top: 2px;
    object-position: center;
    display: block;
    list-style: inside;
    }





#main-footer { 
    background: black;
    color: azure;
    padding: 40px;
    margin-top: 22px;
  
   display: block;
    }



@media(max-width:600px){
    #main{
        width: 100%;
        float: none;
       
    }
   
}

#style  div{
    background-color: blue;
}

.row::after {
  content: "";
    width: 30%;
  clear: both;
  display: table;
}
.column {
  float: left;
  width: 33.%;
  padding: 5px;
}
















